SavedData_v5_0_0((
    recorded_runs: 0,
    recent_runs: (runs: []),
    min: (
        block: (
            ddstats_version: 0,
            player_id: 0,
            username: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            survival_md5: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            time_lvl2: 0.,
            time_lvl3: 0.,
            time_lvl4: 0.,
            levi_down_time: 0.,
            orb_down_time: 0.,
            enemies_alive_max: 0,
            time_enemies_alive_max: 0.,
            max_homing: 0,
            time_max_homing: 0.,
            death_type: 0,
            is_replay: false,
            replay_player_id: 0,
            daggers_hit: 0,
            daggers_fired: 0,
            enemies_alive: 0,
            kills: 0,
            gems_collected: 0,
            gems_total: 0,
            homing: 0,
            level_gems: 0,
            time_max: 0.,
            daggers_eaten: 0,
            gems_eaten: 0,
            gems_despawned: 0,
            per_enemy_alive_count: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            per_enemy_kill_count: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            time: 0.,
            is_player_alive: false,
            is_in_game: false,
            is_time_attack_or_race_finished: false,
            replay_player_name: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            status: 0,
            stats_base: [0,0,0,0,0,0,0,0],
            stats_frames_loaded: 0,
            stats_finished_loading: false,
            starting_hand: 0,
            starting_time: 0.,
            starting_homing: 0,
            prohibited_mods: false,
            game_mode: 0,
            replay_base: [0,0,0,0,0,0,0,0],
            replay_flag: false,
            replay_buffer_length: 0,
        ),
        frames: (frames: [])
    ),
    max: (
        block: (
            ddstats_version: 0,
            player_id: 0,
            username: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            survival_md5: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            time_lvl2: 0.,
            time_lvl3: 0.,
            time_lvl4: 0.,
            levi_down_time: 0.,
            orb_down_time: 0.,
            enemies_alive_max: 0,
            time_enemies_alive_max: 0.,
            max_homing: 0,
            time_max_homing: 0.,
            death_type: 0,
            is_replay: false,
            replay_player_id: 0,
            daggers_hit: 0,
            daggers_fired: 0,
            enemies_alive: 0,
            kills: 0,
            gems_collected: 0,
            gems_total: 0,
            homing: 0,
            level_gems: 0,
            time_max: 0.,
            daggers_eaten: 0,
            gems_eaten: 0,
            gems_despawned: 0,
            per_enemy_alive_count: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            per_enemy_kill_count: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            time: 0.,
            is_player_alive: false,
            is_in_game: false,
            is_time_attack_or_race_finished: false,
            replay_player_name: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            status: 0,
            stats_base: [0,0,0,0,0,0,0,0],
            stats_frames_loaded: 0,
            stats_finished_loading: false,
            starting_hand: 0,
            starting_time: 0.,
            starting_homing: 0,
            prohibited_mods: false,
            game_mode: 0,
            replay_base: [0,0,0,0,0,0,0,0],
            replay_flag: false,
            replay_buffer_length: 0,
        ),
        frames: (frames: [])
    ),
    avg: (
        block: (
            ddstats_version: 0,
            player_id: 0,
            username: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            survival_md5: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            time_lvl2: 0.,
            time_lvl3: 0.,
            time_lvl4: 0.,
            levi_down_time: 0.,
            orb_down_time: 0.,
            enemies_alive_max: 0,
            time_enemies_alive_max: 0.,
            max_homing: 0,
            time_max_homing: 0.,
            death_type: 0,
            is_replay: false,
            replay_player_id: 0,
            daggers_hit: 0,
            daggers_fired: 0,
            enemies_alive: 0,
            kills: 0,
            gems_collected: 0,
            gems_total: 0,
            homing: 0,
            level_gems: 0,
            time_max: 0.,
            daggers_eaten: 0,
            gems_eaten: 0,
            gems_despawned: 0,
            per_enemy_alive_count: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            per_enemy_kill_count: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            time: 0.,
            is_player_alive: false,
            is_in_game: false,
            is_time_attack_or_race_finished: false,
            replay_player_name: [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
            status: 0,
            stats_base: [0,0,0,0,0,0,0,0],
            stats_frames_loaded: 0,
            stats_finished_loading: false,
            starting_hand: 0,
            starting_time: 0.,
            starting_homing: 0,
            prohibited_mods: false,
            game_mode: 0,
            replay_base: [0,0,0,0,0,0,0,0],
            replay_flag: false,
            replay_buffer_length: 0,
        ),
        frames: (frames: [])
    )
))
