/*
ddstats-rust config
    Optional configurations:
        ui_conf.logo: (String)

|| Game Data Modules:
    RunData
    Timer
    Gems
    Homing(SizeStyle) || Minimal, Compact, Full
    Kills
    Accuracy
    GemsLost(SizeStyle) || Minimal, Compact, Full
    CollectionAccuracy
    HomingSplits(Vec<(String, f32)>) || Vec<(String, f32)>: split times and names
    HomingUsed
    DaggersEaten
    Spacing

|| Style Colors
    Reset
    Black
    Red
    Green
    Yellow
    Blue
    Magenta
    Cyan
    Gray
    DarkGray
    LightRed
    LightGreen
    LightYellow
    LightBlue
    LightMagenta
    LightCyan
    White
    Rgb(u8, u8, u8) || Will approximate color if terminal doesn't allow
    Indexed(u8)

    Examples:
        - Rgb(0xF7, 0xCA, 0x88) || this is the hex color #F7CA88

    On windows you can change the named colors (Red, Blue, etc.) by right clicking the
    top of the window and changing CMD preferences.

    On linux it just pulls from your terminal colors, probably in .Xdefaults
*/

DDStatsRustConfig_v1_0_0((
    offline: false,
    debug_logs: true,
    host: "https://ddstats.com",
    grpc_host: "http://172.104.11.117:80",
    auto_clipboard: true,
    linux_restart_as_child: true,
    use_linux_proton: false,
    process_name_override: None,
    block_marker_override: None,
    open_game_on_replay_request: true,
    upload_replays_automatically: true,
    tray_icon: false,
    hide_window_on_start: false,
    stream: (
        stats: true,
        replay_stats: true,
        non_default_spawnsets: false,
    ),
    submit: (
        stats: true,
        replay_stats: true,
        non_default_spawnsets: false,
        ddcl: true,
    ),
    discord: (
        notify_above_1000: true,
        notify_player_best: true,
        notify_custom_spawnsets: false,
    ),
    ui_conf: (
        enabled: true,
        logo_style: Auto, // Off, Auto, Full, Mini
        hide_logs: false,
        orb_connection_animation: true,
        column_distance: 30, // Percentage
        show_help_on_border: true, // ┤ [F4] Help ├
        current_split_marker: "←",
        theming: (
            styles: (
                text:               (bg: None,        fg: Some(DarkGray),add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                accent:             (bg: None,        fg: Some(White),   add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                logo:               (bg: Some(Black), fg: Some(Red),     add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                logs:               (bg: Some(Black), fg: Some(Gray),    add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                logs_title:         (bg: None,        fg: Some(White),   add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                log_text:           (bg: None,        fg: Some(White),   add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                most_recent_log:    (bg: Some(White), fg: Some(Black),   add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                game_data:          (bg: Some(Black), fg: Some(Gray),    add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                game_data_title:    (bg: Some(Black), fg: Some(White),   add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                split_name:         (bg: None,        fg: Some(Yellow),  add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                split_diff_pos:     (bg: None,        fg: Some(Green),   add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                split_diff_neg:     (bg: None,        fg: Some(Red),     add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                split_diff_neutral: (bg: None,        fg: Some(Gray),    add_modifier: (bits: 0), sub_modifier: (bits: 0)),
                split_diff_gold:    (bg: None,        fg: Some(Yellow),  add_modifier: (bits: 0), sub_modifier: (bits: 0)),
            )
        ),
        game_data_modules: [
            RunData,
            Timer,
            Gems,
            Accuracy,
            Homing(Compact), // Minimal, Compact, Full
            GemsLost(Full), // Minimal, Compact, Full
            CollectionAccuracy,
            HomingUsed,
            Spacing,
            HomingSplits([ // (name, time, offset, positive threshold, neutral zone, golden split ( example: Some(300) ))
                ("LEVI", 366., -105, 0, 5, None),
                // ("490", 490., 0, 0, 5, None),
                // ("580", 580., 0, 0, 5, None),
                ("700", 709., 0, 0, 5, None),
                ("800", 800., 0, 0, 5, None),
                ("880", 875., 0, 0, 5, None),
                ("940", 942., 0, 0, 5, None),
                ("1000", 996., 0, 0, 5, None),
                ("1040", 1047., 0, 0, 5, None),
                ("1080", 1091., 0, 0, 5, None),
                ("1130", 1133., 0, 0, 5, None),
                ("1160", 1163., 0, 0, 5, None),
            ]),
        ],
    ),
))
